.calendar
    &__inner
        display: grid
        grid-template-columns: repeat(6, 1fr)
        grid-template-rows: repeat(10, minmax(50px, auto))
        border: .5px solid #000
    &__header
        display: flex
        align-items: center
        justify-content: center
        border: .5px solid #000
        background-color: #a8a8a8
        font-size: 20px
        font-weight: bold
    &__body
        position: relative
        display: flex
        align-items: center
        justify-content: center
        border: .5px solid #000
        padding: 5px 10px
        &--active
            background-color: #99ffd5
        &--filtered
            background-color: #ffff83
        &:hover
            .delete
                opacity: 1

    .delete
        position: absolute
        right: 5%
        opacity: 0
        cursor: pointer
        transition: .2s all linear
        &:hover
            color: red
